BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlines: Left
AlignOperands: "false"
AlignTrailingComments: "true"
AllowAllArgumentsOnNextLine: "true"
AllowAllParametersOfDeclarationOnNextLine: "true"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: "false"
BinPackArguments: "false"
BinPackParameters: "false"
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeCatch: true
    BeforeElse: true
BreakBeforeTernaryOperators: "true"
ColumnLimit: "0"
DerivePointerAlignment: "false"
IncludeBlocks: Preserve
IndentCaseLabels: "false"
IndentPPDirectives: None
IndentWidth: "4"
IndentWrappedFunctionNames: "true"
#Language: C
LineEnding: LF
PointerAlignment: Left
ReflowComments: "false"
SortIncludes: "false"
SpaceAfterCStyleCast: "false"
SpaceAfterLogicalNot: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: "false"
SpacesBeforeTrailingComments: "2"
SpacesInAngles: "false"
SpacesInCStyleCastParentheses: "false"
SpacesInContainerLiterals: "false"
SpacesInParentheses: "false"
SpacesInSquareBrackets: "false"
UseTab: Never